<div id="container1" >
  <div id="logbox" >
    <form id="register" action="register">
      <h1>Create an account </h1>
      <input name="user[name]"  type="text" placeholder="Enter your username/example@example.com" autofocus="autofocus" required="required" class="input pass"  >
      <input name="user[password]"  type="password" placeholder="choose password" required="required" class="input pass" >
      <input name="user[password2]"  type="password" placeholder="confirm password" required="required" class="input pass" >
      <input name="user[email]" type="email" placeholder="Email address" class="input pass">
      <div class="text-center" >
          <input type="submit" value="Sign In" class="inputButton" >
        have an account already? <a href="#" id="Login" >SignIn</a>
        
      </div>
    </form>
  </div>
</div>

<div id="container2" >
    <div id="logbox2" >
      <form id="Signin" action="singin">
        <h1> LogIn </h1>
        <input name="user[email]" type="email" placeholder="enter email " class="input pass">
        <input name="user[password]"  type="password" placeholder="enter password" required="required" class="input pass" >
        <input type="submit" value="Sign In" class="inputButton" >
        <div class="text-center" >
         <a href="#" id="create an account" >create an account</a> or <a href="#" id="forget password" >forgot password?</a>
        </div>
      </form>
    </div>
  
  </div>