
#container{
width: 100%;
color: white;
}
.container1{
    background-color: #eaafaf;
    width: 22%;
   height: 650px;
   align-content: center;
   align-items: center;
   color: white;
   margin-left: 2%;
   margin-top: 4%; 
   float: left;

}

.inputButton {
    position: relative;
    color: white;
    background-color: #B784A7;
    border: none;
    -moz-box-shadow: 0 5px 0 #B784A7;
    box-shadow: 0 5px 0 #B784A7;
  }
  .image{
      width: 340px;
      height: 400px;

  }

.button1{
    position: relative;
    color: white;
    background-color: #B784A7;
    border: none;
    -moz-box-shadow: 0 5px 0 #B784A7;
    box-shadow: 0 5px 0 #B784A7;
    margin-left: 850px;
    bottom: -15px;

}
