<h1 style="text-align: center" >Search Results  </h1>

<div id="container" >
<div class="container1">
<div class="row" >
  

    <label for="Destination">Destination:</label>&emsp;&emsp;&emsp;&emsp;{{Destination}}<br><br>
    <label for="Checkin">Checkin Date:</label>&emsp;&emsp;&emsp; {{Checkin}} <br><br>
   <label for="checkout">checkout Date:</label>&emsp;&emsp;&emsp;{{checkout}}<br><br>
    <label for="Room">Number of Rooms:</label>&emsp; {{Room}}<br><br>
   <label for="Adults">Number of Adults:</label>&emsp;&ensp;{{Adults}}<br><br>
    <label for="Children">Number of Children:</label>&ensp;{{Children}}<br><br>
  </div>

</div>
    <div class="container1" >
        <div class="row" >
          <ul class="thumbnail">
            <img src="assets/room1.jpg" class="image" width="200px" height="300px" >
            <h3>The Blue Waters Hotel (last Book 2 hours ago)</h3>
            <h5>175 Snell Parade, Durban, KwaZulu-Natal, 4001 South Africa</h5>
            <ol>
                <li>Free Wi-Fi</li>
                <li>Free newspapers</li>
                <li>Free toiletries</li>
              </ol> 
              <input type="submit" value={{thing1}} class="inputButton" (click) = "b1()">
      
          </ul>
      
        </div>
      
      </div>

      <div class="container1" >
          <div class="row" >
            <ul class="thumbnail">
              <img src="assets/room3.jpg" alt="room1" width="300px" height="400px" >
              <h3>The Blue Waters Hotel (last Book 2 hours ago)</h3>
              <h5>175 Snell Parade, Durban, KwaZulu-Natal, 4001 South Africa</h5>
              <ol>
                  <li>Free Wi-Fi</li>
                  <li>Free newspapers</li>
                  <li>Free toiletries</li>
                </ol> 
                <input type="submit" value={{thing2}} class="inputButton" (click) = "b2()" >
        
            </ul>
        
          </div>
        
        </div>
        <div class="container1" >
            <div class="row" >
              <ul class="thumbnail">
                <img src="assets/room4.jpg" alt="room1" width="300px" height="400px" >
                <h3>The Blue Waters Hotel (last Book 2 hours ago)</h3>
                <h5>175 Snell Parade, Durban, KwaZulu-Natal, 4001 South Africa</h5>
                <ol>
                    <li>Free Wi-Fi</li>
                    <li>Free newspapers</li>
                    <li>Free toiletries</li>
                  </ol> 
                  <input type="submit" value={{thing3}} class="inputButton" (click) = "b3()">
          
              </ul>
          
            </div>
          
          </div>
          <div class="container1" >
              <div class="row" >
                <ul class="thumbnail">
                  <img src="assets/room5.jpg" alt="room1" width="300px" height="400px" >
                  <h3>The Blue Waters Hotel (last Book 2 hours ago)</h3>
                  <h5>175 Snell Parade, Durban, KwaZulu-Natal, 4001 South Africa</h5>
                  <ol>
                      <li>Free Wi-Fi</li>
                      <li>Free newspapers</li>
                      <li>Free toiletries</li>
                    </ol> 
                    <input type="submit" value={{thing4}} class="inputButton"(click) = "b4()" >
            
                </ul>
            
              </div>
            
            </div>
            <div class="container1" >
                <div class="row" >
                  <ul class="thumbnail">
                    <img src="assets/room6.jpg" alt="room1" width="300px" height="400px" >
                    <h3>The Blue Waters Hotel (last Book 2 hours ago)</h3>
                    <h5>175 Snell Parade, Durban, KwaZulu-Natal, 4001 South Africa</h5>
                    <ol>
                        <li>Free Wi-Fi</li>
                        <li>Free newspapers</li>
                        <li>Free toiletries</li>
                      </ol> 
                      <input type="submit" value={{thing5}} class="inputButton" (click) = "b5()" >
              
                  </ul>
              
                </div>
              
              </div>
      
              <div class="container1" >
                  <div class="row" >
                    <ul class="thumbnail">
                      <img src="assets/room7.jpg" alt="room1" width="300px" height="400px" >
                      <h3>The Blue Waters Hotel (last Book 2 hours ago)</h3>
                      <h5>175 Snell Parade, Durban, KwaZulu-Natal, 4001 South Africa</h5>
                      <ol>
                          <li>Free Wi-Fi</li>
                          <li>Free newspapers</li>
                          <li>Free toiletries</li>
                        </ol> 
                        <input type="submit" value={{thing6}} class="inputButton"(click) = "b6()" >
                
                    </ul>
                
                  </div>
                
                </div>
                <div class="container1" >
                    <div class="row" >
                      <ul class="thumbnail">
                        <img src="assets/room8.jpg" alt="room1" width="300px" height="400px" >
                        <h3>The Blue Waters Hotel (last Book 2 hours ago)</h3>
                        <h5>175 Snell Parade, Durban, KwaZulu-Natal, 4001 South Africa</h5>
                        <ol>
                            <li>Free Wi-Fi</li>
                            <li>Free newspapers</li>
                            <li>Free toiletries</li>
                          </ol> 
                          <input type="submit" value={{thing7}} class="inputButton" (click) = "b7()">
                  
                      </ul>
                  
                    </div>
                   
                  </div>
                  <button class="button1" ng-click="">Continue Booking</button>
                  
                  
      

</div>


            





  
